@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}
.company-img{
  filter: grayscale(100%);
}
.company-img:hover{
  filter: grayscale(0%);
}

